<div>
    <img src="https://vfs-gce-ae-108-1.c9.io/vfs/3514927/9cxVzK46LiDoNrJS/home/rails_projects/alpha-blog/app/assets/images/website-header.jpg?1470120429621">
</div>
<div>
    <div style="padding:20px;width:300px;height:20px;">
        <ul>
            <li style="float:left; padding:10px; list-style: none"><%= link_to 'Home', pages_home_path %></li>
            <li style="float:left; padding:10px;list-style: none"><%= link_to 'About', pages_about_path %></li>
        </ul>
    </div>
    <div style="text-align:center>
        <h1>About Page</h1>
        <hr>
    </div>
</div>
    
